<div *ngIf="enableDownload">
  <div class="row alert alert-success success-bar">
    <div class="col-9 d-flex">
      <div class="message" *ngIf="showMessage">
        <strong class="mx-2">Success!</strong> Files have been processed succesfully!
      </div>
    </div>

    <div class="col-3">
      <div class="download-container">
        <select class="form-select form-select-lg" [(ngModel)]="chartType" (change)="generateChart()">
          <option value="bar">Bar Chart</option>
          <option value="pie">Pie Chart</option>
          <option value="line">Line Chart</option>
        </select>

        <button class="btn btn-primary dropdown-toggle dv-btn" type="button" id="downloadDropdown"
          data-bs-toggle="dropdown" aria-expanded="false">
          Download
        </button>
        <ul class="dropdown-menu" aria-labelledby="downloadDropdown">
          <li><a class="dropdown-item" href="#" (click)="downloadChart('image')">Image (PNG)</a></li>
          <li><a class="dropdown-item" href="#" (click)="downloadChart('pdf')">PDF</a></li>
          <li><a class="dropdown-item" href="#" (click)="downloadChart('ppt')">PPT</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-10">
      <div #chart echarts [options]="chartOptions" class="dv-chart">
      </div>
    </div>
    <div class="col-2 d-flex align-items-start">
      <div *ngIf="data.length" class="headers-container">
        <div class="accordion" id="headersAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Chart Title
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#headersAccordion">
              <div class="accordion-body">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="Chart Title" [(ngModel)]="chartTitleInput">
                  <div class="input-group-append">
                      <button class="btn btn-primary dv-btn dv-btn-small" (click)="updateChartTitle()">Apply</button>
                  </div>
              </div>
              </div>
            </div>
          </div>
          
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Select X-Axis
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#headersAccordion">
              <div class="accordion-body">                
                <div class="col-12 mb-4">
                  <label for="xAxisSelect">Select X-Axis:</label>
                  <select id="xAxisSelect" class="form-select accordion-select" (change)="updateXAxis($event)">
                    <option *ngFor="let header of headers" [value]="header" [disabled]="header === xAxisKey">{{ header }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Select Headers
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#headersAccordion">
              <div class="accordion-body">
                <div class="col-12">
                  <div *ngFor="let header of headers" class="form-check headers">
                    <input type="checkbox" 
                    class="form-check-input" 
                    [checked]="selectedHeaders.includes(header)"
                    [disabled]="header === xAxisKey || (selectedHeaders.length === 2 && selectedHeaders.includes(header))" 
                    (change)="toggleHeader(header)">          
                    <label class="form-check-label">
                      {{ header }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>