/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 10px !important;
    background-color: #fff !important;
}
::-webkit-scrollbar {
    width:5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #0089ff;
    border-radius: 10px;
    opacity: .2;
    padding-top:10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.row > * {padding: 0 !important;}

.dv-btn {
    background-color: #4f46e5;
    border-radius: 0;
    transition: background-color 0.3s ease;
    padding: 8px 20px;
  }
